* {
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	background-color: #1f263b;
}
.christmas-text {
	width: 100%;
	font-family: "Sevillana", cursive;
	color: white;
	position: absolute;
	top: 35%;
	font-size: 72px;
	text-align: center;
	font-weight: 600;
}
.christmas-text button {
	font-size: 20px;
	border: 0;
	outline: 0;
	color: white;
	background-color: #1f263b;
}
@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.message {
	font-size: 40px;
	animation: appear 3s ease-in;
}
.hidden {
	display: none;
}
.green {
	color: #146b3a;
}
.red {
	color: #bb2528;
}
@keyframes fall {
	from {
	}
	to {
		transform: translateY(100vh);
		opacity: 0;
	}
}
.snowflake {
	width: 8px;
	height: 8px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: -8px;
}
